body {
  width: 600px;
  margin: 25px auto;
  text-align: center;
  padding: 50px;
}
html {
  background: url(img/Background1.jpg) no-repeat center fixed;
  background-size: cover;
}
h1 {
  margin: 25px auto;
  text-align: center;
  padding: 50px 0px 0px;
  border-radius: 50px;
  color: white;
}
.p1 {
  color: white;
  font-size: xx-large;
}
.anime {
  color: darkcyan;
  font-weight: bolder;
}
.about-body {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 50px 100px;
}
.about {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0%;
}
.S-h2 {
  color: darkblue;
}
.TS {
  color: darkgoldenrod;
}
.end {
  color: blue;
}
.home.div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 50px 100px;
}
.DLOAIK {
  color: blueviolet;
}
.BC {
  color: red;
}
.DLOAIK-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.BC-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.Quiz-h1 {
  color: black;
}
.Quiz-Div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 50px;
}
.Meli {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.Eli {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.HN {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.arata {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.BDP {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.WL {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.Asta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.Yuno {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
button {
  margin-right: 300px;
  background-color: grey;
}
button:hover {
  background-color: white;
  cursor: pointer;
}
.Score {
  margin-right: 250px;
}
.link {
  margin-right: 160px;
}
